  <div class="flex items-center justify-between mb-6">
    <div class="flex items-center" >
      <h1 class="text-3xl font-bold text-gray-800">Cardápios cadastrados</h1>
    </div>
    <%= link_to 'Cadastrar novo cardápio', new_restaurant_menu_path(user_restaurant),  class: 'dark:bg-gray-700 py-2 px-4 border border-transparent rounded-md shadow-lg text-lg font-medium text-white hover:dark:bg-gray-800 cursor-pointer focus:outline-none focus:ring-2 transition duration-200 focus:ring-offset-2 focus:ring-blue-500' %>
  </div>

  <div class="flex flex-wrap gap-6">
    <% if @menus.any? %>
        <% @menus.each do |menu| %>
            <h2 class="text-2xl font-bold text-gray-700"><% menu.name %></h2>
      <% end %>
    <% else %>
        <h2 class="text-2xl font-bold text-gray-700">Nenhum menu cadastrado.</h2>
    <% end %>
  </div>