  <div class="flex items-center justify-between mb-6">
    <h1 class="text-3xl font-bold text-gray-800">Marcadores cadastrados</h1>
    <%= link_to 'Cadastrar novo marcador', new_tag_path, class: 'dark:bg-gray-700 py-2 px-4 border border-transparent rounded-md shadow-lg text-lg font-medium text-white hover:dark:bg-gray-800 cursor-pointer focus:outline-none focus:ring-2 transition duration-200 focus:ring-offset-2 focus:ring-blue-500' %>
  </div>

<div class="w-1/2 border border-gray-300 rounded-lg p-4 shadow-lg flex flex-col items-center mx-auto relative mt-4 mb-4">
    <% if @tags.present? %>
    <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
        <tr>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Nome</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Ação</th>
        </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
        <% @tags.each do |a| %>
            <tr>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900"><%= a.name %></td>
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                <%= link_to "Editar", edit_tag_path(a.id), class: "text-indigo-600 hover:text-indigo-900" %>
            </td>
            </tr>
        <% end %>
        </tbody>
    </table>
    <% else %>
        <h1 class="text-2xl font-bold text-gray-800 mb-2 text-center">Nenhuma marcador cadastrado.</h1>
    <% end %>
</div>